/*importación de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,200;1,800;1,900&display=swap');

html{
  font-family: 'Poppins', sans-serif;
}
body{
  font-size: 1em;
}

header{
    background: linear-gradient(to left,rgb(2, 81, 83),rgb(12, 110, 128),rgb(6, 146, 151),rgb(79, 243, 120),rgb(139, 196, 8));
    padding-top: 2em;
    padding-bottom: 2em;
}

footer{
    background: linear-gradient(to left,rgb(2, 81, 83),rgb(12, 110, 128),rgb(6, 146, 151),rgb(79, 243, 120),rgb(139, 196, 8));
}
#logo{
    width: 8em;
    height: 8em;
    border-radius: 30%;
    animation-name: pulse;
    animation-duration:2s;
    animation-iteration-count: infinite;
}
#micro{
    width: 18em;
    height: 25em;
    border-radius: 30%;
    animation-name: backInLeft;
    animation-duration:2s;
    animation-iteration-count: initial;
}
#publicidad1{
    animation-name: backInLeft;
    animation-duration:2s;
    animation-iteration-count: initial;
}
#publicidad2{
    animation-name: backInUp;
    animation-duration:2s;
    animation-iteration-count: initial;
}
#publicidad3{
    animation-name: backInRight;
    animation-duration:2s;
    animation-iteration-count: initial;
}

@media screen and (min-width: 551px) and (max-width: 1200px) {
    #micro{
        width: 20rem;
        height: 30rem;
    }
    .clima{
        display: none;
    }
}
@media screen and (max-width: 550px) {
    #micro{
        display:none;
    }
    .clima{
        display: none;
    }
}

