.uno{
  @include fondo(color1);
  color: white;
}

.dos{
  @include fondo(color2);
  color: white;
}

.tres{
  @include fondo(color3);
  color: white;
}

.cuatro{
  @include fondo(color4);
  color: white;
}

.btn {
    width: 100px;
    text-align: center;
    padding: 5px 0;
    margin: 2px auto;
    border-radius: 2px;
    color: #FFFFFF;
  }
  
  .btn-dark {
    @extend .btn;
    background-color: #0573d3;
  }
  .btn-secondary {
    @extend .btn;
    background-color: #f05b17;
  }
  .btn-cancel {
    @extend .btn;
    background-color: #f33639;
  }